page-legende {
	[padding]{
		padding: 0px ;
	}

	.label-md {
		margin: 3px 8px 3px 0px !important ;
	}

	.item-block {
		min-height: 3rem;
	}

	.pictoText {
		float: right;
	}

	.boule {
		height: 12px;
		width: 12px;
	}

}

.legende-popover .popover-arrow{
	
}

.legende-popover .popover-content {
	width:300px;
}
