page-info {

	.baoNav {
		float:right;
	}
	ion-card-title {
		margin-top: 0 !important;
		padding: 8px 0 0px 0 !important;
		color: white !important;
	}
	
	.myheader {
		margin-left: -16px;
		padding-left: 16px;
		margin-right: -16px;
		padding-right: 16px;
		background-color: green;
		color: white;
		margin-top: -15px;
		padding-top: 10px;
		padding-bottom:10px;
		font-weight: bold;
	}
	.buttonPicto{
		float:right;
	}

}
.info-popover .popover-content{
	width: 300px;
}
