<!--
  Generated template for the Info page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content >
	<ion-card>
		<ion-card-content>
		<div class="myheader">
			<ion-card-title [innerHTML]="resto.bao_restaurant">
			</ion-card-title>
		</div>
			<button ion-button outline icon-left small><ion-icon name="car"></ion-icon>{{resto.bao_distance }}km</button>
			<button ion-button outline small class="buttonPicto"><img class="bao_featured" [src]="resto.bao_pictohtml"></button>
		     <p>
				{{resto.bao_adresse_1}} {{resto.bao_adresse_2}}<br>{{resto.bao_codepostal}} {{resto.bao_ville}} 
			</p>

					<button *ngIf="resto.bao_tel!=''" ion-button icon-only small (click)="phoneCall(resto.bao_tel)">
		  <ion-icon name="call"></ion-icon>
		</button>
		<button *ngIf="resto.bao_mobile!=''" ion-button icon-only  small (click)="phoneCall(resto.bao_mobile)">
		  <ion-icon name="phone-portrait"></ion-icon>
		</button>
		<button  *ngIf="resto.bao_site!=''" ion-button icon-only small (click)="goToSite(resto.bao_site)">
		  <ion-icon name="globe"></ion-icon>
		</button>
		<button  *ngIf="resto.bao_facebook!=''" ion-button icon-only small (click)="goToSite(resto.bao_facebook)">
		  <ion-icon name="logo-facebook" ></ion-icon>
		</button>
		<button  *ngIf="resto.bao_instagram!=''" ion-button icon-only small (click)="goToSite(resto.bao_instagram)">
		  <ion-icon name="logo-instagram"></ion-icon>
		</button>
		<button ion-button icon-only  small (click)="navigateToResto(resto.bao_longlat)">
		  <ion-icon name="pin"></ion-icon>
		</button>

			
			<button class="baoNav" ion-button icon-only small (click)="goToDetail(resto)">
		        <ion-icon name="arrow-forward"></ion-icon>
			</button>
		
		</ion-card-content>
		

	</ion-card>
</ion-content>
