<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{resto.bao_restaurant}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button ion-button outline icon-left small><ion-icon name="car"></ion-icon>{{resto.bao_distance }}km</button>
	<button ion-button outline small><span *ngIf="resto.bao_picto=='4Z'" >0000
	</span>
	<span *ngIf="resto.bao_picto=='3Z'">000
	</span>
	<span *ngIf="resto.bao_picto=='2Z'">00
	</span>
	<span *ngIf="resto.bao_picto=='1Z'">0
	</span>
	<span *ngIf="resto.bao_picto=='AR'">AR
	</span>
	
	<span *ngIf="resto.bao_picto=='1CH'||resto.bao_picto=='1CD'" [inlineSVG]="'assets/svg/chandelier.svg'">
	</span>
	<span *ngIf="resto.bao_picto=='2CH'||resto.bao_picto=='2CD'">
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
	</span>
	<span *ngIf="resto.bao_picto=='3CH'||resto.bao_picto=='3CD'">
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
	</span>
	<span *ngIf="resto.bao_picto=='4CH'||resto.bao_picto=='4CD'">
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
	</span>
	<span *ngIf="resto.bao_picto=='5CH'">
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
		<span [inlineSVG]="'assets/svg/chandelier.svg'">
		</span>
	</span>
	<span *ngIf="resto.bao_picto=='0CD'||resto.bao_picto=='1CD'||resto.bao_picto=='2CD'||resto.bao_picto=='3CD'||resto.bao_picto=='4CD'" [innerHTML]="frac12">
	</span></button>
     <p>
		{{resto.bao_adresse_1}} {{resto.bao_adresse_2}}<br>{{resto.bao_codepostal}} {{resto.bao_ville}} 
	</p>
	<baoNotation [resto]="resto"></baoNotation>
</ion-content>
