page-bao-liste {
	.card:first-child {
		transform: translate3d(0px, 0px, 0px) !important;
	}

	ion-card-title {
		margin-top: 0 !important;
		padding-top: 0 !important;
		color: white !important;
	}
	
	/*button {
		display: inline-block!important;
		float:none!important;
		margin-top:5px!important;
	}*/
	.baoNav {
		float: right !important;
	}

	.baoPicto{
		height: 15px;
	}
	.myheader{
		margin: -15px -16px 0px -16px;
		padding: 10px 16px 0px 16px ;
		background-color: green;
		color: white;
		font-weight: bold;
	}
	.buttonPicto {
		float: right;
	}
}
