page-bao-liste {
	svg.chandelier {
		display: inline ;
		height: 15px;
		width: 15px;
	}

	svg.chandelier path {
		fill: blue ;
	}

	ion-card-title {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
	
	/*button {
		display: inline-block!important;
		float:none!important;
		margin-top:5px!important;
	}*/
	.baoNav {
		float: right !important;
	}
}
